<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <title>PocketFriendlyWeb- Website Development|Digital Marketing in Dubai,UAE</title>
        <meta name="description"content="Need a stunning website? Our Dubai team specializes in website development and Digital Marketing Services, crafting visually appealing and user-friendly sites & boost your online presence and drive growth" />
        <link rel="canonical" href="https://pocketfriendlyweb.com//" />
        <meta name="key-phrases"content="Website Development,Web Development,Digital Marketing,Digital Agency,Marketing Agency,Dubai Marketing,Web Development UAE,Digital Agency UAE,SEO Dubai,PPC Dubai" />
        <meta name="keywords"content="Website Development in Dubai,Website Development in UAE,Web Development in Dubai,Web Development in UAE,Digital Marketing in Dubai,Digital Marketing in UAE,Digital Marketing agency in Dubai,Digital Marketing Agency in UAE,SEO services in dubai,PPC Services in Dubai,Google Ads in Dubai,Social Media Services in Dubai,UAE" />
        <meta name="robots"content="index, follow" />
        <meta name="topic"content="Website Development in Dubai,Digital Marketing agency in Dubai,SEO services in dubai,UAE" />
        <meta name="subject"content="Digital Marketing agency in Dubai,SEO services in dubai,Web Development in Dubai" />
        <meta name="classification"content="About Website Development in Dubai,UAE,Digital Marketing agency in Dubai,SEO services Dubai" />
        <meta name="distribution" content="global" />
        <meta name="rating"content="general" />
        <meta name="audience"content="all" />
        <meta name="revisit-after"content="7 days" />
        <meta name="resource-type"content="web page" />
        <meta name="doc-type"content="web page" />
        <meta name="doc-class"content="published" />
        <meta name="doc-rights"content="public domain" />
        <meta name="copyright"content="© Copyright 2023 POCKET FRIENDLY. All rights reserved." />
        <meta name="author"content="POCKET FRIENDLY,DUBAI,UAE" />
        <meta property="og:title"content="Website Development|Digital Marketing Agency in Dubai,UAE" />
        <meta property="og:type"content="website" />
        <meta property="og:url"content="https://www.pocketfriendlyweb.com" />
        <meta property="og:description"content="Need a stunning website? Our Dubai team specializes in website development and Digital Marketing Services, crafting visually appealing and user-friendly sites & boost your online presence and drive growth" />
        <meta property="og:image" content="https://pocketfriendlyweb.com/static/index2assets/images/logo-img.png">
        <meta property="og:locale"content="en_US" />
        <meta property="article:author"content="PocketFriendlyWeb,Website Development in Dubai,UAE" />
        <meta property="article:publisher"content="PocketFriendlyWeb,Dubai-UAE" />
        <meta property="twitter:title"content="Elevate Your Online Presence with PocketFriendlyWeb. Discover Top-notch Website Development and Digital Marketing Services in Dubai, UAE." />
        <meta name="twitter:url"content="https://pocketfriendlyweb.com/" />
        <meta name="twitter:card"content="summary" />
        <meta property="twitter:description"content="Need a stunning website? Our Dubai team specializes in website development and Digital Marketing Services, crafting visually appealing and user-friendly sites & boost your online presence and drive growth" />
        <meta name="DC.title"content="Website Development|Digital Marketing Agency in Dubai,UAE" />
        <meta name="geo.region"content="AE-SH" />
        <meta name="geo.placename"content="Sharjah" />
        <meta name="geo.position"content="25.346255;55.420931" />
        <meta name="ICBM"content="25.346255, 55.420931" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"> 
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Boxicons CSS --> 
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="assets/fonts/flaticon.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
       
     

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/img/favicon.ico"/>
    </head>

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
             <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" class="logo-one" alt="Logo">
                    <img src="assets/img/logo.png" class="logo-two" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav top-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo.png" alt="Logo">
                        </a>
                        <a class="navbar-brand-sticky" href="index.html">
                            <img src="assets/img/logo.png" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block;">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">
                                        Home 
                                        <i class="bx bxs-chevron-right"></i>
                                    </a>
                               
                                </li>
                                <li class="nav-item active">
                                    <a href="about.html" class="nav-link">
                                        About
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="service.html" class="nav-link ">
                                        Services 
                                        <i class="bx bxs-chevron-right"></i>
                                    </a>
                                   
                                </li>
                            
                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">
                                        Blog 
                                        <i class="bx bxs-chevron-right"></i>
                                    </a>
                                </li>
                               
                                
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                            </ul>

                            <div class="menu-btn">
                                <a href="#" class="seo-btn mr-25"><i class='bx bx-search'></i> Search</a>
                            </div>
                            <div class="menu-btn">
                                <a href="tel:+971585893348" target="_blank" class="seo-btn"><i class='bx bx-phone'></i> +971 585893348</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

      

        <!-- Start home page Area -->
        <section>
            
            <div class="inner-hosting-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-mg-6 col-sm-6">

                        </div>
                        <div class="col-lg-5 col-mg-5 col-sm-5">
                            <div class="left-banner-content">
                                <h3 class="small_gradient_Text">Up To 20x</h3>
                                <h2>Faster Web Hosting to Help You Succeed!</h2>
                              
                            </div>
                        </div>
                        <div class="share-sec-position">
                            <a href="#" class="whatsapp-icon"><img src="assets/img/about/call-icon.png"></a>
                            <a href="#" class="whatsapp-icon"><img src="assets/img/about/whataspp-icon.png"></a>
                        </div>
                    </div>
            </div>
            </div>
        </section>
		
		<!-- End home Area -->

        
        <section>
            <div class="inner-hosting-sec">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main-title text-center pb-30">
                            <h2>Type Of Hosting</h2>
                            <p>Maecenas elementum sapien in metus placerat finibus. Lorem ipsum dolor sit amet, vix an.</p>
                        </div>
                    </div>
                    <div class="bg-section p-30">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="bg-inner-box">
                                <h3>Web Development</h3>

                                <div class="content-details">
                                    <smallText>Basic</smallText>
                                    <h4>$948.55</h4>
                                    <p>Per 3 months</p>
                                </div>

                                <div class="bottom-btn-sec bg-btn">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma</p>

                                    <a href="#" class="default-btn enquiry-btn">Enquire</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="bg-inner-box">
                                <h3>Web Application</h3>

                                <div class="content-details">
                                    <smallText>Basic</smallText>
                                    <h4>$948.55</h4>
                                    <p>Per 3 months</p>
                                </div>

                                <div class="bottom-btn-sec bg-btn">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma</p>

                                    <a href="#" class="default-btn enquiry-btn">Enquire</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="bg-inner-box">
                                <h3>Digital Market</h3>

                                <div class="content-details">
                                    <smallText>Basic</smallText>
                                    <h4>$948.55</h4>
                                    <p>Per 3 months</p>
                                </div>

                                <div class="bottom-btn-sec bg-btn">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma</p>

                                    <a href="#" class="default-btn enquiry-btn">Enquire</a>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <div class="offer-box">

                            </div>
                            <div class="offer-img">
                                <img src="assets/img/hosting-service.png"/>
                            </div>
                        </div>
                    </div>
                   
                </div>
                   

                 
                
                </div>
            </div>
        </section>

        <section>
            <div class="our-services-area">
                <div class="container">
                    <div class="row">
                        <div class="main-title">
                            <h2>We build Our Business For Your Success</h2>
                        </div>
                    </div>
                    <div class="row hosting-service-sec">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="our-mission-block">
                                <div class="main-title text-left">
                                    <h2>Web Development </h2>
                                </div>
                                <div class="our-mission">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="our-mission-block">
                                <div class="main-title text-left">
                                    <h2>Web Development </h2>
                                </div>
                                <div class="our-mission">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="our-mission-block">
                                <div class="main-title text-left">
                                    <h2>Web Development </h2>
                                </div>
                                <div class="our-mission">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 pt-30">
                            <div class="our-mission-block">
                                <div class="main-title text-left">
                                    <h2>Web Development </h2>
                                </div>
                                <div class="our-mission">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 pt-30">
                            <div class="our-mission-block">
                                <div class="main-title text-left">
                                    <h2>Web Development </h2>
                                </div>
                                <div class="our-mission">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 pt-30">
                            <div class="our-mission-block">
                                <div class="main-title text-left">
                                    <h2>Web Development </h2>
                                </div>
                                <div class="our-mission">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </section>


        <section>
            <div class="our-need-block">
                <div class="container">
                    <div class="row">
                        <div class="main-title">
                            <h2>Hosting for Your Hosting Needs</h2>
                        </div>
                    </div>
                    <div class="row hosting-sec">
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <img src="assets/img/icon/ser-icon-1.png"/>
                                <h6>Up To 20xFaster Turbo</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <img src="assets/img/icon/ser-icon-2.png"/>
                                <h6>Guru Crew Support</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <img src="assets/img/icon/ser-icon-3.png"/>
                                <h6>Free Web site Migration</h6>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <img src="assets/img/icon/ser-icon-4.png"/>
                                <h6>Money - Back Guarantee</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
        <div class="pocket-friendly mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">

                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content-sec">
                                    <h3>Pocket Friendly</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        
                                </div>
                                      </div>
                        </div>
                      </div>
            </div>
        </section>

        <section>
            <div class="our-package-block">
                <div class="container">
                    <div class="row">
                        <div class="main-title">
                            <h2>Package Includes</h2>
                        </div>
                    </div>
                    <div class="row hosting-sec">
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <h6>Free SSL</h6>
                                <div class="host-img">
                                <img src="assets/img/icon/hosting-4.png"/>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <h6>Free Google Map Intergeration</h6> 
                                <div class="host-img">
                                <img src="assets/img/icon/hosting-3.png"/>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <h6>Free Email Account</h6>
                                <div class="host-img">
                                    <img src="assets/img/icon/hosting-2.png"/>
                                </div>
                              
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="icon-sec">
                                <h6>Free Whatsapp Intergeration</h6>
                                <div class="host-img">
                                <img src="assets/img/icon/hosting-1.png"/>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
       

        

    


       


   

    




        <!-- Footer Area -->
        <footer id="footer" class="footer-area-bg">
            <div class="footer-newletter-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="subscribe-area">
                                <h2>News Letter</h2>
                                <p>Join our newsletter to stay in the loop about the latest trends in digital marketing, branding, and business growth. Receive exclusive insights, tips, and offers directly to your inbox. Take advantage of the opportunity to elevate your online presence and unlock new possibilities for your brand. Sign up today and be a part of the PocketFriendlyWeb community!</p>
                            </div>
                            <div class="newsletter-area">
                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                                    <button class="subscribe-btn" type="submit">
                                        Subscribe
                                    </button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <div class="feature-updates-sec">
                            <h2>Feature Update</h2>
                            <div class="footer-service-icon">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 feature-updates">
                                        <img src="assets/img/footer-1.png">
                                    </div>
                                    <div class="col-md-3 col-lg-3 feature-updates">
                                        <img src="assets/img/footer-2.png">
                                    </div>
                                    <div class="col-md-3 col-lg-3 feature-updates">
                                        <img src="assets/img/footer-3.png">
                                    </div>
                                    <div class="col-md-3 col-lg-3 feature-updates">
                                        <img src="assets/img/footer-4.png">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="footer-area-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-single">
                                <div class="footer-single-content">
                                    <a href="#">
                                        <img src="assets/img/footer-logo.png" alt="Logo">
                                    </a>
                                    <div class="share-icon">
                                        <ul class="social-icon-part">
                                            <li><a href="#"><img src="assets/img/whatsapp.png"></a></li>
                                            <li><a href="https://www.linkedin.com/in/pocketfriendly-web/" target="_blank"><img src="assets/img/linked-in.png"></a></li>
                                            <li><a href="https://www.youtube.com/@pocketfriendlyweb" target="_blank"><img src="assets/img/youtube-icon.png"></a></li>
                                        </ul>
                                        <ul class="social-icon-part">
                                            <li><a href="https://www.facebook.com/pocketfriendlywebfze/" target="_blank"><img src="assets/img/facebook-icon.png"></a></li>
                                            <li><a href="https://instagram.com/pocketfriendlyweb?igshid=MmU2YjMzNjRlOQ==" target="_blank"><img src="assets/img/insta-icon.png"></a></li>
                                            <li><a href="https://twitter.com/Pocketfrie99946" target="_blank"><img src="assets/img/twitter.png"></a></li>
                                        </ul>
                                    </div>
                                   
                                </div>

                              
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="footer-list ml-50">
                                <h3>About Us</h3>
                                <p>At PocketFriendlyWeb, we're not just a digital marketing and branding agency; we're your strategic partners in success.</p>

                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="footer-list">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>
                                        <i class='bx bxs-chevron-right'></i>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <i class='bx bxs-chevron-right'></i>
                                        <a href="#">SEO</a>
                                    </li>
                                    <li>
                                        <i class='bx bxs-chevron-right'></i>
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li>
                                        <i class='bx bxs-chevron-right'></i>
                                        <a href="#">Terms & Condition</a>
                                    </li>
                                    <li>
                                        <i class='bx bxs-chevron-right'></i>
                                        <a href="#">Privacy & Policy</a>
                                    </li>
                                    <li>
                                        <i class='bx bxs-chevron-right'></i>
                                        <a href="#">Careers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-list ml-20">
                                <h3>Contact Us</h3>
                                <ul>
                                    <li>
                                        <i class='bx bxs-map'></i>
                                          Dubai,UAE
                                    </li>
                                    <li>
                                        <i class='bx bxs-phone'></i>
                                        <a href="tel:+971 585893348">+971 585893348</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-envelope'></i>
                                        <a href="mailto:info@ifixcomapnyonline">info@pocketfriendlyweb.com</a>
                                    </li>
                                  
                                    
                                </ul>

                                
                            </div>
                        </div>
                        <div class="copyright-text">
                            <p>
                                CopyrightbyPocketFriendlyWeb | <script>document.write(new Date().getFullYear())</script>  
                             
                            </p>
                        </div>
                     
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                           <div class="location-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1861009.5379097238!2d53.9485752!3d24.3540069!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x844654cd217aedcf%3A0x3f8604d12a1923c0!2spocketfriendlyweb.com!5e0!3m2!1sen!2sin!4v1691653678031!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->


         <!-- Jquery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets/js/meanmenu.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Wow JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/custom.js"></script>
    </body>
</html>