/*


*******************************************
*******************************************
** - Default Btn Style 
** - Section Title Style
** - Home Page One Style
** - Navbar Area Style
** - Main Banner Style
** - Unique Area Style
** - Service Area Style
** - Faq Area Style
** - Portfolio Area Style
** - Submission Area Style
** - Price Section Style
** - Member Area Style
** - Testimonial Area Style
** - Blog Card Style
** - Footer Section Style
** - Home Page Two Style
** - Home Page Three Style
** - Inner Banner Style
** - Pagination Area Style
** - Service Details Page Style
** - Blog Details Page Style
** - Contact Page Style
** - Single Content CSS Style
** - 404 Error page Style
** - Back To Top Button Style
** - Preloader Style
** - Animation CSS Style

*******************************************
/*

/*================================================
Default CSS
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

$body-font: 'Poppins', sans-serif;

$main-color:#ff4a35;
$paragraph-color: #75799b;
$title-color:#070f4d;
$color-blue:#4356d6;
$color-white:#fff;

body {
    font-size: 16px;
    line-height: 1.8;
    font-family: $body-font;
    color: $paragraph-color;
}
p {
    color: $paragraph-color; 
}
a {
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}
button {
    margin: 0;
    padding: 0;
    outline: 0;
    &:focus {
        outline: 0 ;
        border: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    font-weight: 600;
    line-height: 1.3;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}
img {
    max-width: 100%;
}
.mt
{
    margin-top: 20px;
}
.ptb-50
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.pt-70 {
    padding-top: 70px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pt-45 {
    padding-top: 45px;
}
.pt-30 {
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}
.p-30 {
    padding:30px !important;
}

.ml-50 {
    margin-left: 50px;
}
.ml-20 {
    margin-left: 20px;
}
.Mtop-20
{
    margin-top: 20px;
}

.row-padding
{
    padding-top: 40px;
}
.box-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.price-bg {
    background-color: #fafbff;
}
.radius-and-padding {
    padding-bottom: 70px !important;
    border-radius: 15px 15px 250px 250px !important;
}
.color-title {
    color: $title-color !important;
}
.color-list {
    color: $paragraph-color !important;
}
.mb-3 {
    margin-bottom: 2rem!important;
}
.mr-25
{
    margin-right: 25px;
}
.text-right
{
    text-align: right;
}
.taC
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
/*================================
Common Design Style 
===================================*/
.small_gradient_Text
{
    background-color: #015dc7;
    background-image: linear-gradient(357deg, #015dc7, #a200ff 95%);
    font-size: 35px;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#015dc7',endColorStr='#a200ff',gradientType='1');
       background-color: initial;
       background-clip: text;
     -o-background-clip: text;
     -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    padding: 20px 0;

 }

.gradient_Text
{
    background-color: #015dc7;
    background-image: linear-gradient(270deg, #015dc7, #a200ff 80%);
    font-size: 40px;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#015dc7',endColorStr='#a200ff',gradientType='1');
       background-color: initial;
       background-clip: text;
     -o-background-clip: text;
     -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

 }

 .bg-section
{
    // background: url(../img/footer-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    background-image: linear-gradient(to right, #8101ae, #7622bb, #6733c8, #5441d4, #384ddf);
}
/*================================
Default Btn Style 
===================================*/
.default-btn {
    background: linear-gradient(90deg, rgba(121,10,180,1) 30%, rgba(64,69,217,1) 100%);
    padding: 5px 40px;
    color: $color-white;
    border-radius: 50px;
    font-size: 21px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 50%;
        background-color: $color-blue;
        z-index: -1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }      
    &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 0%;
        width: 100%;
        height: 50%;
        background-color: $color-blue;
        z-index: -1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    &:hover {
        color: $color-white;
    }
    &:hover::before {
        top: 0;
        background-color: $title-color;
        color: $color-white;
     }
      
    &:hover::after {
        bottom: 0;
        background-color: $title-color;
        color: $color-white;
    }
    &.active {
        margin-left: 20px;
        color: #232350;
        background-color: transparent;
        border: 1px solid $title-color;
        overflow: hidden;
        &:hover {
            color: $color-white;
        }
    } 
}

.bg-btn
{
    .enquiry-btn
    {
            background: #fff !important;
            font-size:18px;
            color: #8102ae !important;
            font-weight: 600;
            padding: 3px 40px;

            &:hover
            {
                color: #fff !important;
            }
             
       
        
    }
}

.upload-btn
{
    border-radius: 10px !important;
    border: none !important;
    width: 300px;
}

.secondary-btn
{
    background: #2f57e4;
    padding: 10px 40px;
    border: none;

}
.sign-btn
{
    background: #2f57e4;
    padding: 6px 18px;
    border: none;
    font-size: 14px;
    box-shadow: none;
    font-weight: 600;

}

/*================================
Default Btn Style End
===================================*/

.owl-nav .owl-next {
    width: 45px !important;
    height: 45px !important;
    font-size: 24px !important;
    line-height: 0 !important;
    background-color: #d0d5f5 !important;
    color: #fff ; 
    border-radius: 50px !important;
    -webkit-transition: all 0.5s !important; 
    transition: all 0.5s !important;
}

.owl-nav .owl-prev {
    width: 45px !important;
    height: 45px !important;
    font-size: 24px !important;
    line-height: 0 !important;
    background-color: #d0d5f5 !important;
    color: #fff;
    border-radius: 50px !important;
    -webkit-transition: all 0.5s !important;
    transition: all 0.5s !important;
}

.owl-nav .owl-prev:hover,.owl-nav .owl-next:hover {
    background-color: #4356d6 !important;
}

/*=================================
Navbar Area
====================================*/
.navbar-area {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

.navbar-light {
    padding-left: 0;
    padding-right: 0;
    .navbar-brand {
        img{
            float: left;
        }
    }
    .navbar-brand-sticky {
        display: none;
    }
}
.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: auto;
    z-index: 999;
    background-color: $color-blue !important;
    animation: 900ms ease-in-out 5s normal none 1 running fadeInDown;
    transition: 0.9s;
    width: 100% !important;
    .main-nav {
        background-color:#fff !important;
        nav {
            .navbar-nav {
                .nav-item {
                    a {
                        color: #fff;
                    }
                }
            }
        }   
    }
    .menu-btn {
        .seo-btn {
            background-color: $color-blue;
        }
    }
    .navbar-light {
        .navbar-brand {
            display: none;
        }
        .navbar-brand-sticky {
            display: inline-block;
        }
    }
}
/* Main nav */
.main-nav {
    position: relative;
    background: transparent;
    top: 0;
    left: 0;
    padding: 7px 0;
    width: 100%;
    z-index: 999;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,5%);
    nav {
        .navbar-nav {
            .nav-item {
                a
                {
                    
                    background-image: linear-gradient(45deg, #7d06b1, #2f57e4);
                    background-size: 100%;
                    background-repeat: repeat;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                    font-weight: 500 !important;
                 font-size: 18px;
                 margin-left: 15px;
                 margin-right: 15px;
                &:hover a,.active {
                    color: $main-color;
                }
                }
                a {
                    text-transform: capitalize;
                    color: #222222;
                    font-weight: 400;
                    i {
                        line-height: 0;
                        position: relative;
                        top: 3px;
                    }
                    &:hover, :focus {
                        color: $main-color;
                    }
                    &.active {
                        color: $main-color !important;
                    }
                    &.active i {
                        -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                    }
                    &:hover i {
                        -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                                transition: 0.7s;
                    }
                    &:focus i {
                        -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                    }
                    .active::before {
                        transform: scale(1);
                    }
                }
                .dropdown-menu {
                    border: none;
                    padding: 0;
                    border-radius: 0;
                    background-color: $color-white !important;
                    li {
                        border-bottom: 1px dotted rgba(187, 9, 83, 0.4);
                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            color:#222222 !important;
                            position: relative;
                            transition: 0.7s;
                            font-weight: 400;
                            &:hover {
                                background-color: #f3f3f3;
                            }
                            &.active{
                                background-color: #f3f3f3;
                                border-radius: .25rem; 
                                color: $main-color !important;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                width: 0;
                                height: 1px;
                                background-color: $main-color;
                                -webkit-transition: all 0.5s;
                                transition: all 0.5s;
                            }
                            &:hover::before {
                                width: 100%;
                            }
                            &:hover, :focus, .active{
                                color: $main-color !important;
                                letter-spacing: 0.5px;
                                background-color: #f3f3f3;
                                border-radius: .25rem;
                            }
                        }
                        &.active{
                           color: $main-color !important;
                        }
                    }
                }
            }
        }
    }
}

.menu-btn {
    display: inline-block;
    position: relative;
    top: 5px;
    .seo-btn {
        background-color: #4356d6;
        background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
        box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
        padding: 10px 40px;
        color: $color-white;
        border-radius: 50px;
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0%;
            width: 100%;
            height: 50%;
            background-color: $title-color;
            z-index: -1;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }      
        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 0%;
            width: 100%;
            height: 50%;
            background-color: $title-color;
            z-index: -1;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
        &:hover {
            color: $color-white;
        }
        &:hover::before {
            top: 0;
            background-color: $color-blue;
            color: $color-white;
         }
        &:hover::after {
            bottom: 0;
            background-color: $color-blue;
            color: $color-white;
        }
    }
}
/* Mobile Nav */
.mobile-nav {
    .mean-container {
        .mean-nav {
            ul{
                li{
                    a{
                        .active {
                            color: $main-color;
                        } 
                    }
                }
            }
        }
    }
}
.mean-container {
    a{
        &.meanmenu-reveal{
            color: #222222;
            span{
                background-color: $paragraph-color ;
            }
        }
    }
}
/*=================================
Navbar Area
====================================*/
/*=================================
404 error page Area
====================================*/
.inner-page
{

    padding: 50px 0;

.inner-bgarea
{   
    
    .error-text
    { 
        
        padding: 60px 0;
      
        h2
        {
            font-size: 150px;
            color: #000;
        }
        span.smallText {
            font-size: 28px;
        }
        p
        {
            font-size: 32px;
            color: #000;
            font-weight: 600;
        }
    
    }
    

}

}

/*================================
home-page-sec
=================================*/
.home-banner-sec
{
    background: url(../img/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;

    .start-business
    {
        h2
        {
            color: #fff;
            text-shadow: -6px 1px #984ac8;
            font-size: 56px;
        }

        p
        {
            color: #fff;
            font-size: 33px;
        }
    }

    .business-form
    {
        .form-field-section
        {
            label.label-box {
                color: #fff;
                padding-bottom: 10px;
            }

            select#package {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: none;
                padding: 5px;
            }
            .textarea {
                border-radius: 5px;
                padding: 5px;
                width: 100%;
            }

            .consent-sec p {

                color: #fff;

            }

            button.btn-submit {
                background: #fff;
                border: none;
                width: 100%;
                border-radius: 5px;
                padding: 6px;
                font-weight: 600;
                margin-top: 15px;
            }
          
        }
    }

   

  
}

.about-content 
{
    h2
    {
    color: #000;
    margin-bottom: 20px;
    }
}
.about-sec
{
    padding: 50px 0;
}

.service-area
{
    .service-content 
    {
        padding: 60px 0px 20px 0;
        h2
        {
            font-size: 34px;
            font-weight: 600;
            text-transform: uppercase;
        }

    }

}

.icon-services
{
    .icon-main-area
    {
        .content-area
        {
            padding: 20px 0;
            padding-top: 30px;
            
            h3
            {
                color: #fff;
                font-size: 22px;
                padding: 5px 0;
                
            }
            p
            {
                color: #fff;
               height: 150px;
               overflow: hidden;
            }
        }
    }
}

.hosting-services-sec
{
    padding: 60px 0;
    .elementor-element
    {
        .elementor-widget-container
        {
            padding: 33px 30px 41px 38px;
           
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 13px 13px 51px 0px rgba(9.999999999999991, 50.99999999999997, 80, 0.1);
            position: relative;
            min-height: 340px;

            &:hover::after
            {
                opacity: 1;
            }

            &::after
            {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: all 300ms linear 0ms;
                -khtml-transition: all 300ms linear 0ms;
                -moz-transition: all 300ms linear 0ms;
                -ms-transition: all 300ms linear 0ms;
                -o-transition: all 300ms linear 0ms;
                transition: all 300ms linear 0ms;
                background-color: #6747ee;
                background-image: -webkit-gradient(linear,left top,right top,from(#cfc4ff, ),to(#d18fff));
                background-image: -webkit-linear-gradient(left,#cfc4ff,#d18fff);
                background-image: -moz-linear-gradient(left,#cfc4ff,#d18fff);
                background-image: -ms-linear-gradient(left,#cfc4ff,#d18fff);
                background-image: -o-linear-gradient(left,#cfc4ff,#d18fff);
                background-image: linear-gradient(left,#cfc4ff,#d18fff);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6747ee',endColorStr='#9124dc',gradientType='1');
                opacity: 0;
                z-index: -1;
                border-radius: 10px 10px 10px 10px;
            }
        }
        .gt3-core-imagebox-wrapper {
            text-align: left;
        }
        .gt3-core-imagebox-wrapper {
            position: relative;
            z-index: 2;
        }
        .gt3-core-imagebox-content {
            width: 100%;
        }
        
        .gt3-core-imagebox-content .gt3-core-imagebox-title 
            {
                display: inline-block;
                vertical-align: middle;
                a{
                    color: #000;
                    font-size:18px !important;
                    font-weight: 700;
                    line-height: 2.7em;
                  
                  
                }
            }
           
        
        
        .gt3-core-imagebox-img {
            margin: 0px 10px 0px -10px !important;
            max-width: 76px;
            width: 76px;
            position: relative;
        display: inline-block;
        vertical-align: top;
        
        }
        
        .gt3-core-imagebox-img a {
            display: inline-block;
            max-width: 100%;
        }
        
        .gt3-core-imagebox-img img {
            transition-duration: 0.3s;
        }
        
        .gt3-core-imagebox-description {
            color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    padding: 20px 0;
    margin-bottom: 0;
        }


        .plan-btn
        {
            background-image: linear-gradient(45deg, #7d06b1, #2f57e4);
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            font-weight: 500 !important;
            font-size: 18px;
            text-decoration: none !important;
            position: absolute;
            bottom: 50px;

            &::before
            {
                content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
            }
        }

        
    }
}


.blog-area
{
    padding:50px 0;
    background: #f7f7f7;
    .blog-img
    {
        text-align: center;
    }
    .blog-content p
    {
        text-align: left;
        margin-bottom: 70px;
        color: #000;
        padding: 5px 0;
    }
    .blog-person
    {
        text-align: center;
    }
    .social-icon
    {
        padding: 10px;
    text-align: center;
     img
     {
        padding: 10px;
        box-shadow: 4px 1px 3px 0px rgba(119, 119, 119, 0.4);
        width: 50px;
        height: 50px;
        border-radius: 60px;
     }
    }
}


.inner-blog-content p
{
    margin-bottom: 5px !important;

    .social-icon
    {
        text-align: left !important;
    }

}

.inner-blog-content 
{
    .social-icon
    {
        text-align: left !important;
    }
}

.inner-blog-content h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.blog-aritical-sec
{
    padding: 50px 0;
}

.blog-img img
{
    width: 100%;
    border-radius: 5px;
}

.blog-content-inner
{

    display: flex;
    padding-top: 20px;

    .blog-author-img img
{
    border-radius: 50%;
    width: auto !important;
    max-width: initial;
}
.blog-details
{
    padding-left: 20px;

    p
    {
        color: #000;
    }

    .date
    {
        color: #000;
    }
}





}



.testimonial-area
{
    padding: 60px 0;
    .testimonial-slider
    {
        padding-top:20px;
        .testimonial-item-slider
        {
            .testimonial-item
            { 
                display: flex;
                .testimonial-item-img
                {
                    display: inline-block;
                    width: 250px;
                    vertical-align: middle;
                }

                .testimonail-content
                {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 20px;
                    p
                    {
                        color: #000;
                    }
                }

                .testimonal-info
                {
                    margin-top: 30px;
                    h3
                    {
                        font-size: 20px;
                        color: #000;
                    }
                }
                .start-icon 
                {
                      padding-left: 0;

                      li
                      {
                    display: inline-block;
                    list-style: none;
                      }
                }

            }
        }
    }
}

/*=================================
Faq Area 
====================================*/
.faq-area {
    background-color: #f7f7f7;
    padding: 60px 0;
   
}

.faq-accordion {
    max-width: 470px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: 30px;
    .accordion {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        .accordion-item {
            border-radius: 5px;
            display: block;
            background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
            margin-bottom: 15px;
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            border: none;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .accordion-title {
            padding: 20px 60px 17px 25px;
            color: #fff;
            text-decoration: none;
            position: relative;
            display: block;
            font-size: 18px;
            font-weight: 600;
            &.active {
                border-radius: 50px;
            }
            i {
                position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #1000cd;
    box-shadow: -1px 0px 11px 5px #5065ff;
            }
            &.active i {
                transform: rotate(180deg);
                top: 15px;
            }
        }
        .accordion-content {
            display: none;
            position: relative;
            margin-top: -5px;
            padding-bottom: 10px;
            padding-right: 30px;
            padding-left: 30px;
            p {
                line-height: 1.8;
                color: #fff;
                font-size: 15px;
            }
            &.show {
                display: block;
            }
        }
    }
}
.faq-accordion-width {
    max-width: 100% !important;
    margin-bottom: 30px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.faq-img-2 {
    margin-bottom: 30px;
}
.faq-content-text {
    p {
        margin-bottom: 50px;
        a {
            color: $main-color;
            text-decoration: underline;
            &:hover {
                color: $title-color;
            }
        }
    }
    
    .color-black {
        color: $title-color !important;
    }
    .font-size {
        font-size: 18px;
    }

   
}


.bgimg-part
{
   
    padding: 30px;
    position: relative;
    border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #901eb7, #4d37d0) 1;


  .model-content
  {
    background:url(../img/bg.png);
    color: white;

    h5
    {
        margin-bottom: 20px;
        color: #000;
        font-size: 20px;
        font-weight: 700;
    }

    p
    {
        color: #000;
    }
  
  }
}


/*=================================
Faq Area End
====================================*/
/*================================
Section Title Style 
===================================*/
.section-title {
    span {
        color: $main-color;
        font-weight: 500;
        line-height: 0;
    }
    h2 {
        font-size: 35px;
        max-width: 510px;
        margin: auto;
    }
    p {
        padding-top: 25px;
        max-width: 620px;
        margin: 0 auto;
    }
}

.main-title {
    h2 {
      
        // background-image: linear-gradient(45deg, #7d06b1, #2f57e4);
        background-image: linear-gradient(360deg, #7d06b1, #2f57e4);
     background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600 !important;
    font-size: 38px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 30px;

    }
   
}
/*================================
Section Title Style End
===================================*/






/*=================================
Footer Section 
====================================*/

.bg-footer {
    margin-top: 20px;
    background-color: $color-blue;
    position: relative;
    border-radius: 40% 0 0 0;
    &::before {
        content: "";
        left: 0;
        position: absolute;
        background: #ffffff;
        height: 20%;
        top: -70px;
        transform: skewY(175deg);
        width: 100%;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../img/shape/footer-shape.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 100%;
    }
}

.footer-newletter-area 
{
    padding: 50px 0;

    .subscribe-area
    {
        h2
        {
            color: #fff;
        }
        p
        {
            color: #fff;
        }
    }

    .newsletter-area {
        margin-top: 25px;
        .newsletter-form {
            position: relative;
            max-width: 370px;
            border-radius: 50px;
            .form-control {
                background: $color-white;
                height: 45px;
                line-height: 55px;
                margin: 0;
                border-radius: 2px;
                border: none;
                padding: 0 25px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
            .subscribe-btn {
                position: absolute;
                top: 0px;
                right: -60%;
                margin: 0;
                background: #dc3545;
                color: #fff;
                height: 46px;
                line-height: 40px;
                padding: 0 20px;
                border: 0;
                border-radius: 2px;
                font-size: 14px;
                width: 200px;
                &:hover {
                    background: $title-color;
                    color: #ffffff;
                }                  
            }
            .validation-danger {
                font-size: 18px;
                margin-top: 5px;
                color: red;
            }  
        }
    }

    .feature-updates-sec
    {
        padding: 20px 0;
        h2
        {
            color: #fff;
            font-size: 20px;
            padding-bottom: 15px;
        }

        .feature-updates
        {
            text-align: center;
            padding: 20px 0;
        }
    }
}
.footer-top {
    padding-top: 200px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
   
}
.copyright-text
    {
        text-align: right;

        p
        {
            color: #fff;
        }
    }

    .footer-area-top
    {
        border-top:1px solid #fff;
        padding: 50px 0 0;
    }
.footer-single {
    margin-bottom: 30px;
    .footer-single-content {
        text-align: center;

        .share-icon {
            text-align: center;

            ul.social-icon-part {
                list-style: none;
                text-align: center;

                li {
                    display: inline-block;
                    padding: 0 10px;
                }
            }
        }
        a {
            img {
                margin-bottom: 40px;
            }
        }
        p {
            color: $color-white;
            margin: 0;
        }
    }
    
}

.footer-list {
    margin-bottom: 30px;
    h3 {
        font-size: 25px;
        color: $color-white;
        position: relative;
        margin-bottom: 20px;
    }
    
    p
    {
        color: #fff;
        height: 206px;
        overflow: hidden;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-top: 10px;
            display: block;
            font-size: 16px;
            color: $color-white;
            i {
                font-size: 15px;
            }
            a {
                color: $color-white;
                position: relative;
                transition: 0.7s;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: $title-color;
                    transition: 0.7s;
                }
                &:hover::before {
                    width: 100%;
                }
                &:hover {
                    color: $title-color;
                }
            }
        }
    }
}

.footer-bottom {
    position: relative;
    border-top: 1px solid $color-white;
    padding-top: 24px;
    padding-bottom: 22px;
    z-index: 1;
    .location-map {
      img
      {
        width: 100%;
      }
    }
}

.footer-area-bg {
    background: url(../img/footer-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}



/*=================================
Footer Section End
====================================*/
/*-------------------inner-about-page--------------*/
.heading-sec {
    padding: 30px 0 0;
}

.inner-banner-sec
{
    background: url(../img/about/about-banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.about-sec-inner
{
    padding: 60px 0;
    .main-title h2
    {
        text-align: left;
        margin-left: 0;
        font-size: 26px;
       
    }
    .about-content
    {
        p
        {
            
            color: #000;
        }
    }
    .our-mission-block
    {
        padding-top: 40px;

        &:hover
        {
           
            padding: 33px 30px 41px 38px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.1);
    position: relative;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    background-image: -webkit-linear-gradient(left, #cfc4ff, #d18fff);
        }
        span.icon-box {
            padding: 20px;
    
            img
            {
                width:auto;
            }
        }
        
        p
        {
            color: #000;
        }
    }

   .left-social-media
   {
    align-items: center;
    top: 25%;
    .seo-btn
    {
        border-radius: 5px !important;
        margin-bottom: 10px;
        width: 145px;

    }
    
   }

   .share-sec {
    background-color: #4356d6;
background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
    border-radius: 60px 0 0 60px;
    margin-top: 100px;
    position: relative;
    padding: 10px 20px;
    margin-right: -23px;

    .whatsapp-icon
    {
      img
      {
        padding: 10px;
        width: 90%;
      }
    }
}
   
}

/*=================================
Counter Area 
====================================*/
.counter-area {
   
    position: relative;
    margin-bottom: 60px;
    margin-top: 20px;
    z-index: 9999;
  }

  .border-style {
    border: 2px solid #fff;
    padding: 30px;
}
  
  .counter-area::before {
    content: '';
    position: absolute;
    background-image: url(../img/about/counter-shape-1.png);
    top: 0;
    left: 0;
    right: 0;
    background-position: center center;
    width: 100%;
    height: 250px;
  }
  
  .single-counter {
    text-align: center;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-counter i {
    font-size: 55px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    line-height: 70px;
    margin-bottom: 35px;
  }
  
  .single-counter h3 {
    font-size: 25px;
    color: #fff;
    line-height: 0;
    margin-bottom: 15px;
  }
  
  .single-counter p {
    font-size: 22px;
    color: #fff;
    margin: 0;
  }
  
 
  
  /*=================================
  Counter Area End
  ====================================*/
  /*=================================
  Inner Service Page  Start
  ====================================*/

  .share-sec-position {
    position: fixed;
    right: 0;
    background-color: #4356d6;
    background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
    box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
    border-radius: 60px 0 0 60px;
    margin-top: 300px;
    position: fixed !important;
    width: 250px;
    right: 0;
    padding: 10px 20px;
    margin-right: -23px;
    z-index: 999;
    a
    {
        img
        {
            padding:0 10px;
        }
    }
}

a.map-icon
{
    margin-right: 20px;
}

a.map-icon,a.what-icon {
    background: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height:75px;
    text-align: center;

    i
    {
        font-size: 30px;
        color: #015dc7;
    }
}

.inner-service-banner
{
    background: url(../img/service/service-banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    .left-banner-content
    {
        padding-top: 25%;

        p
        {
            color: #000;
            padding-top: 20px;
        }
    }
}

.share-sec-position {
    position: fixed;
    right: 0;
    background-color: #4356d6;
    background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
    box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
    border-radius: 60px 0 0 60px;
    margin-top: 300px;
    position: fixed !important;
    width: 250px;
    right: 0;
    padding: 10px 20px;
    margin-right: -23px;
    z-index: 999;
    a
    {
        img
        {
            padding:0 10px;
        }
    }
}

.secondary-title
{
    background-image: linear-gradient(360deg, #7d06b1, #2f57e4);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600 !important;
    font-size:32px !important;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    a
    {
        font-size:32px !important;
    }
   
}

.our-services-area
{
    padding: 50px 0 70px;
    
    .our-service-block-img
    {
        text-align: center;
    }
}

.three-plan-sec
{

    margin-bottom: 60px;
    margin-top: 20px;
    .inner-block
    {
        text-align: center;
        padding: 20px;
        border: 2px solid #fff;
        border-radius: 5px;

        .icon-block
        {
            padding: 20px;

           
        }

        .content-block
        {
            h4
            {
                color: #fff;
                padding:10px 0;
            }

            p
            {
                color: #fff;
            }
        }
    }
}
  /*=================================
  Inner Service Page  End
  ====================================*/

/*=================================
  Inner Service Details Page  Start
  ====================================*/
  .service-detail-banner
  {
      background: url(../img/service-detail-banner.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 100vh;
      .right-banner-content
      {
          padding-top: 25%;
  
          p
          {
              color: #000;
              padding-top: 20px;
          }

        
      }
  }

  .service-details-page
  {
    .bg-box
    {
        background-image: linear-gradient(to right, #8101ae, #7622bb, #6733c8, #5441d4, #384ddf);
        border-radius: 20px;
        margin-bottom: 30px;
        padding: 30px;
        color: #fff;

        h4
        {
            color: #fff;
            padding: 10px 0;
        }

        p
        {
            color: #fff;
        }

        h6 {
            font-size: 24px;
            color: #fff;
            font-weight: 600;
            padding: 10px 0;
        }

        .btn-block
        {
            text-align: center;

            .enquiry-btn
            {
                border-radius: 10px;
               
            }
        }
    }
    
  }

  .bottom-slider-sec
  {

    padding: 50px 0;
    .main-title h2
    {
        text-align: left !important;
        margin-left: 0;
    }

    .service-details
    {
        .testimonail-content 
        {
            h4
            {
                padding: 15px 20px;
                font-size: 18px;
            }

            p
            {
                color: #000;
                font-size: 14px;
                padding: 0 20px;
            }

            
            .btn-block 
            {
                   padding: 10px 20px;
            }
        }
    }

  }

  
/*=================================
  Inner Hosting Page  Start
  ====================================*/
  .inner-hosting-banner
  {
      background: url(../img/hosting-banner.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 100vh;
      .right-banner-content
      {
          padding-top: 25%;
  
          p
          {
              color: #000;
              padding-top: 20px;
          }

        
      }
  }

  .inner-hosting-sec
  {

    
    .bg-inner-box {
        padding: 50px 20px;
        background: #af68d6;
        border-radius: 10px;
        color: #fff;
        box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);

        h3
        {
            color: #fff;
            border-bottom: 2px solid #fff;
            padding-bottom: 20px;
            font-size: 22px;
        }

        .content-details
        {
            border-bottom: 2px solid #fff;
            padding: 15px 0;
            h4
            {
                color: #fff;
                padding: 10px 0;
                font-size: 24px;
            }
            p
            {
                color: #fff;
            }
        }

        .bottom-btn-sec
        {
            text-align: center;
            p
            {
                color: #fff;
                padding: 25px 0;
                text-align: left;
            }
        }
    }

  }

  .hosting-service-sec
    {
        padding-top: 20px;

        .main-title h2
        {
            font-size: 20px;
            text-align: left;
            margin-left: 0;
        }

        .our-mission-block
        {
            padding: 33px 30px 41px 38px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.1);
   

    &:hover
    {
       
       
-webkit-transition: 0.7s;
transition: 0.7s;
background-image: -webkit-linear-gradient(left, #cfc4ff, #d18fff);
    }
        }
    }

    .our-need-block
    {
        margin-bottom: 50px;
    }
        .hosting-sec {
            text-align: center;
            padding: 40px 0;
    
            .icon-sec
            {
                img
                {
                    padding-bottom: 30px;
                }
                padding-bottom: 20px;
            }
        }
    
.pocket-friendly
{
    background:url(../img/icon/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.content-sec
{
    h3
    {
        color: #fff;
        font-size: 28px;
        padding-bottom: 20px;
    }

    p
    {
        color: #fff;
    }
}
.our-package-block
{
    padding: 50px 0;
    .host-img
{
    padding-top: 20px;
    img
    {
        padding: 20px;
    }
}
    
}

  /*==================================
  Inner Blog Page 
  ===================================*/

  .inner-blog-sec
  {
    padding: 70px 0 0;

    .blog-sec
    {
        P
        {
            color: #000;
        }
    }
   
    
    .icon-sec
    {
        img
        {
            padding: 10px;
    
    margin: 0 10px;
        }
    }

    .content {
        padding: 20px 10px;

        p
        {
          
            color: #000;
            border-bottom: 2px solid #790ab4;
            padding-bottom: 30px;
        }

       
    }
    .artical-content
    {
        p
        {
            color: #000;
        }
        h2
        {
            margin-bottom: 30px;
        }
    }
  }



  /*==================================
  Contact Page 
  ===================================*/

.contact-banner-sec
{
    background: url(../img/banner-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 135vh;

    padding: 40px 50px;

    .get-touch-form
    {
      padding: 30px 10px;
    }

    .form-field-section .input-group .form-control {
        height: 60px;
        color: #333 !important;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 20px;
        box-shadow: 0px 3px 5px rgba(195, 195, 195, 0.3);
        /* border-top: none !important; */
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, #73bdf7, #b132f3) border-box;
        border-radius: 8px;
        border: 1px solid transparent;
    }

    

    .address-sec {
        padding: 0 40px;

        h4
        {
            a
            {
                color: #000;
            }
            
            img
            {
                padding: 20px;
            }
        }
    }
}

  /*==================================
  sidebar
  ===================================*/

  .sidebar-menu {
    padding: 40px 0;
    list-style-type: none;
    border-radius: 0 20px 20px 0;
    background-image: linear-gradient(to right, #8101ae, #7622bb, #6733c8, #5441d4, #384ddf);
    padding-right: 40px;
    li 
    {
        list-style: none;
        a
        {
            width: 100%;
            padding: 34px 15px;
            height: 45px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
            color: #000;
            transition: color 0.2s ease-in-out;
        }
    }

    .sidebar-menu-dropdown
    {
        background: #fff;
        border-radius: 0 10px 10px 0;
        padding-left: 40px;
        font-size: 26px;
        position: relative;

        .dropdown-icon
        {
            position: absolute;
            right: 0;
            font-size: 35px;
            top: 8px;
            padding-right: 15px;
            color: #384dde;
            
        }

    
    }

    .sidebar-menu-dropdown-content 
    {
        li
        {
            a
            {
                color: #fff
            }
        }
    }

    .small_gradient_Text
    {
        font-weight: 600;
        font-size: 24px;
    }
 
}
/*==================================
Back To Top Button 
=====================================*/
#toTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
    display: none;
    z-index: 99;
} 
.top-btn {
    background-color: $color-blue;
    color: $color-white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px $color-blue;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    transition: .9s;
    -webkit-transition: .9s;
    &:hover{
        background: $main-color;
        box-shadow: 0 0 15px $main-color;
        color: #fff;
        animation:none;
    }
}
/*==============================
Back To Top Button 
=================================*/
/*=================================
 Preloader
===================================*/
.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: $color-blue;
}
.preloader-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: -30px 0 0 -30px;
    &::before{
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 50%;
        background-color: $color-white;
        -webkit-animation: wave-circle 1.6s linear infinite;
        animation: wave-circle 1.6s linear infinite;
    }
    &::after{
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        display: inline-block;
        background-color: transparent;
        opacity: 1;
        border: 2px solid $color-white;
        -webkit-animation: scale 1.9s linear infinite;
        animation: scale 1.9s linear infinite;
    }
}
.preloader-wave:after {
    animation-delay: -0.3s;
    -webkit-animation-delay: -0.3s;
}
/*==================================
 Preloader End
====================================*/


/*==================================
Animation CSS
====================================*/
@-webkit-keyframes rotaed360 {
    0% {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(-360deg);
              transform: rotateZ(-360deg);
    }
  }
  
  @keyframes rotaed360 {
    0% {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateZ(-360deg);
              transform: rotateZ(-360deg);
    }
  }
  
@-webkit-keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
}
  
@keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
}

@-webkit-keyframes animationFramesTwo {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
      }
      20% {
        -webkit-transform: translate(-1px, 173px) rotate(36deg);
                transform: translate(-1px, 173px) rotate(36deg);
      }
      40% {
        -webkit-transform: translate(172px, 0px) rotate(72deg);
                transform: translate(72px, 0px) rotate(72deg);
      }
      60% {
        -webkit-transform: translate(183px, 0) rotate(108deg);
                transform: translate(183px, 0) rotate(108deg);
      }
      80% {
        -webkit-transform: translate(172px, 0px) rotate(144deg);
                transform: translate(172px, 0px) rotate(144deg);
      }
      100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
      }
}
  
@keyframes animationFramesTwo {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
      }
      20% {
        -webkit-transform: translate(-1px, 173px) rotate(36deg);
                transform: translate(-1px, 173px) rotate(36deg);
      }
      40% {
        -webkit-transform: translate(172px, 0px) rotate(72deg);
                transform: translate(72px, 0px) rotate(72deg);
      }
      60% {
        -webkit-transform: translate(183px, 0) rotate(108deg);
                transform: translate(183px, 0) rotate(108deg);
      }
      80% {
        -webkit-transform: translate(172px, 0px) rotate(144deg);
                transform: translate(172px, 0px) rotate(144deg);
      }
      100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
      }
}

@-webkit-keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
@keyframes moveBounce {
0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}
50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
}
100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    }
}

@keyframes wave-circle {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes wave-circle {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes scale {
    0%,
    35% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

  
/*==================================
Animation CSS End
====================================*/