/*


*******************************************
*******************************************
** - Default Btn Style 
** - Section Title Style
** - Home Page One Style
** - Navbar Area Style
** - Main Banner Style
** - Unique Area Style
** - Service Area Style
** - Faq Area Style
** - Portfolio Area Style
** - Submission Area Style
** - Price Section Style
** - Member Area Style
** - Testimonial Area Style
** - Blog Card Style
** - Footer Section Style
** - Home Page Two Style
** - Home Page Three Style
** - Inner Banner Style
** - Pagination Area Style
** - Service Details Page Style
** - Blog Details Page Style
** - Contact Page Style
** - Single Content CSS Style
** - 404 Error page Style
** - Back To Top Button Style
** - Preloader Style
** - Animation CSS Style

*******************************************
/*

/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
body {
  font-size: 16px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  color: #75799b;
}

p {
  color: #75799b;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  outline: 0;
}
button:focus {
  outline: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #070f4d;
  font-weight: 600;
  line-height: 1.3;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.mt {
  margin-top: 20px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.p-30 {
  padding: 30px !important;
}

.ml-50 {
  margin-left: 50px;
}

.ml-20 {
  margin-left: 20px;
}

.Mtop-20 {
  margin-top: 20px;
}

.row-padding {
  padding-top: 40px;
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.price-bg {
  background-color: #fafbff;
}

.radius-and-padding {
  padding-bottom: 70px !important;
  border-radius: 15px 15px 250px 250px !important;
}

.color-title {
  color: #070f4d !important;
}

.color-list {
  color: #75799b !important;
}

.mb-3 {
  margin-bottom: 2rem !important;
}

.mr-25 {
  margin-right: 25px;
}

.text-right {
  text-align: right;
}

.taC {
  text-align: center;
}

.text-left {
  text-align: left;
}

/*================================
Common Design Style 
===================================*/
.small_gradient_Text {
  background-color: #015dc7;
  background-image: linear-gradient(357deg, #015dc7, #a200ff 95%);
  font-size: 35px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#015dc7",endColorStr="#a200ff",gradientType="1");
  background-color: initial;
  background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  padding: 20px 0;
}

.gradient_Text {
  background-color: #015dc7;
  background-image: linear-gradient(270deg, #015dc7, #a200ff 80%);
  font-size: 40px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#015dc7",endColorStr="#a200ff",gradientType="1");
  background-color: initial;
  background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  background-image: linear-gradient(to right, #8101ae, #7622bb, #6733c8, #5441d4, #384ddf);
}

/*================================
Default Btn Style 
===================================*/
.default-btn {
  background: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
  padding: 5px 40px;
  color: #fff;
  border-radius: 50px;
  font-size: 21px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
}
.default-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 50%;
  background-color: #4356d6;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.default-btn::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0%;
  width: 100%;
  height: 50%;
  background-color: #4356d6;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.default-btn:hover {
  color: #fff;
}
.default-btn:hover::before {
  top: 0;
  background-color: #070f4d;
  color: #fff;
}
.default-btn:hover::after {
  bottom: 0;
  background-color: #070f4d;
  color: #fff;
}
.default-btn.active {
  margin-left: 20px;
  color: #232350;
  background-color: transparent;
  border: 1px solid #070f4d;
  overflow: hidden;
}
.default-btn.active:hover {
  color: #fff;
}

.bg-btn .enquiry-btn {
  background: #fff !important;
  font-size: 18px;
  color: #8102ae !important;
  font-weight: 600;
  padding: 3px 40px;
}
.bg-btn .enquiry-btn:hover {
  color: #fff !important;
}

.upload-btn {
  border-radius: 10px !important;
  border: none !important;
  width: 300px;
}

.secondary-btn {
  background: #2f57e4;
  padding: 10px 40px;
  border: none;
}

.sign-btn {
  background: #2f57e4;
  padding: 6px 18px;
  border: none;
  font-size: 14px;
  box-shadow: none;
  font-weight: 600;
}

/*================================
Default Btn Style End
===================================*/
.owl-nav .owl-next {
  width: 45px !important;
  height: 45px !important;
  font-size: 24px !important;
  line-height: 0 !important;
  background-color: #d0d5f5 !important;
  color: #fff;
  border-radius: 50px !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.owl-nav .owl-prev {
  width: 45px !important;
  height: 45px !important;
  font-size: 24px !important;
  line-height: 0 !important;
  background-color: #d0d5f5 !important;
  color: #fff;
  border-radius: 50px !important;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  background-color: #4356d6 !important;
}

/*=================================
Navbar Area
====================================*/
.navbar-area {
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

.navbar-light {
  padding-left: 0;
  padding-right: 0;
}
.navbar-light .navbar-brand img {
  float: left;
}
.navbar-light .navbar-brand-sticky {
  display: none;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: auto;
  z-index: 999;
  background-color: #4356d6 !important;
  animation: 900ms ease-in-out 5s normal none 1 running fadeInDown;
  transition: 0.9s;
  width: 100% !important;
}
.sticky-nav .main-nav {
  background-color: #fff !important;
}
.sticky-nav .main-nav nav .navbar-nav .nav-item a {
  color: #fff;
}
.sticky-nav .menu-btn .seo-btn {
  background-color: #4356d6;
}
.sticky-nav .navbar-light .navbar-brand {
  display: none;
}
.sticky-nav .navbar-light .navbar-brand-sticky {
  display: inline-block;
}

/* Main nav */
.main-nav {
  position: relative;
  background: transparent;
  top: 0;
  left: 0;
  padding: 7px 0;
  width: 100%;
  z-index: 999;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.main-nav nav .navbar-nav .nav-item a {
  background-image: linear-gradient(45deg, #7d06b1, #2f57e4);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 500 !important;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}
.main-nav nav .navbar-nav .nav-item a:hover a, .main-nav nav .navbar-nav .nav-item a .active {
  color: #ff4a35;
}
.main-nav nav .navbar-nav .nav-item a {
  text-transform: capitalize;
  color: #222222;
  font-weight: 400;
}
.main-nav nav .navbar-nav .nav-item a i {
  line-height: 0;
  position: relative;
  top: 3px;
}
.main-nav nav .navbar-nav .nav-item a:hover, .main-nav nav .navbar-nav .nav-item a :focus {
  color: #ff4a35;
}
.main-nav nav .navbar-nav .nav-item a.active {
  color: #ff4a35 !important;
}
.main-nav nav .navbar-nav .nav-item a.active i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.main-nav nav .navbar-nav .nav-item a:hover i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 0.7s;
}
.main-nav nav .navbar-nav .nav-item a:focus i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.main-nav nav .navbar-nav .nav-item a .active::before {
  transform: scale(1);
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: #fff !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px dotted rgba(187, 9, 83, 0.4);
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:last-child {
  border-bottom: none;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  color: #222222 !important;
  position: relative;
  transition: 0.7s;
  font-weight: 400;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
  background-color: #f3f3f3;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  background-color: #f3f3f3;
  border-radius: 0.25rem;
  color: #ff4a35 !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ff4a35;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover::before {
  width: 100%;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a :focus, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a .active {
  color: #ff4a35 !important;
  letter-spacing: 0.5px;
  background-color: #f3f3f3;
  border-radius: 0.25rem;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li.active {
  color: #ff4a35 !important;
}

.menu-btn {
  display: inline-block;
  position: relative;
  top: 5px;
}
.menu-btn .seo-btn {
  background-color: #4356d6;
  background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
  box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
  padding: 10px 40px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.menu-btn .seo-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 50%;
  background-color: #070f4d;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-btn .seo-btn::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0%;
  width: 100%;
  height: 50%;
  background-color: #070f4d;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-btn .seo-btn:hover {
  color: #fff;
}
.menu-btn .seo-btn:hover::before {
  top: 0;
  background-color: #4356d6;
  color: #fff;
}
.menu-btn .seo-btn:hover::after {
  bottom: 0;
  background-color: #4356d6;
  color: #fff;
}

/* Mobile Nav */
.mobile-nav .mean-container .mean-nav ul li a .active {
  color: #ff4a35;
}

.mean-container a.meanmenu-reveal {
  color: #222222;
}
.mean-container a.meanmenu-reveal span {
  background-color: #75799b;
}

/*=================================
Navbar Area
====================================*/
/*=================================
404 error page Area
====================================*/
.inner-page {
  padding: 50px 0;
}
.inner-page .inner-bgarea .error-text {
  padding: 60px 0;
}
.inner-page .inner-bgarea .error-text h2 {
  font-size: 150px;
  color: #000;
}
.inner-page .inner-bgarea .error-text span.smallText {
  font-size: 28px;
}
.inner-page .inner-bgarea .error-text p {
  font-size: 32px;
  color: #000;
  font-weight: 600;
}

/*================================
home-page-sec
=================================*/
.home-banner-sec {
  background: url(../img/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 20px;
}
.home-banner-sec .start-business h2 {
  color: #fff;
  text-shadow: -6px 1px #984ac8;
  font-size: 56px;
}
.home-banner-sec .start-business p {
  color: #fff;
  font-size: 33px;
}
.home-banner-sec .business-form .form-field-section label.label-box {
  color: #fff;
  padding-bottom: 10px;
}
.home-banner-sec .business-form .form-field-section select#package {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.home-banner-sec .business-form .form-field-section .textarea {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.home-banner-sec .business-form .form-field-section .consent-sec p {
  color: #fff;
}
.home-banner-sec .business-form .form-field-section button.btn-submit {
  background: #fff;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  font-weight: 600;
  margin-top: 15px;
}

.about-content h2 {
  color: #000;
  margin-bottom: 20px;
}

.about-sec {
  padding: 50px 0;
}

.service-area .service-content {
  padding: 60px 0px 20px 0;
}
.service-area .service-content h2 {
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
}

.icon-services .icon-main-area .content-area {
  padding: 20px 0;
  padding-top: 30px;
}
.icon-services .icon-main-area .content-area h3 {
  color: #fff;
  font-size: 22px;
  padding: 5px 0;
}
.icon-services .icon-main-area .content-area p {
  color: #fff;
  height: 150px;
  overflow: hidden;
}

.hosting-services-sec {
  padding: 60px 0;
}
.hosting-services-sec .elementor-element .elementor-widget-container {
  padding: 33px 30px 41px 38px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.1);
  position: relative;
  min-height: 340px;
}
.hosting-services-sec .elementor-element .elementor-widget-container:hover::after {
  opacity: 1;
}
.hosting-services-sec .elementor-element .elementor-widget-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  background-color: #6747ee;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfc4ff), to(#d18fff));
  background-image: -webkit-linear-gradient(left, #cfc4ff, #d18fff);
  background-image: -moz-linear-gradient(left, #cfc4ff, #d18fff);
  background-image: -ms-linear-gradient(left, #cfc4ff, #d18fff);
  background-image: -o-linear-gradient(left, #cfc4ff, #d18fff);
  background-image: linear-gradient(left, #cfc4ff, #d18fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#6747ee",endColorStr="#9124dc",gradientType="1");
  opacity: 0;
  z-index: -1;
  border-radius: 10px 10px 10px 10px;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-wrapper {
  text-align: left;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-wrapper {
  position: relative;
  z-index: 2;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-content {
  width: 100%;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-content .gt3-core-imagebox-title {
  display: inline-block;
  vertical-align: middle;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-content .gt3-core-imagebox-title a {
  color: #000;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 2.7em;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-img {
  margin: 0px 10px 0px -10px !important;
  max-width: 76px;
  width: 76px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-img a {
  display: inline-block;
  max-width: 100%;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-img img {
  transition-duration: 0.3s;
}
.hosting-services-sec .elementor-element .gt3-core-imagebox-description {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 20px 0;
  margin-bottom: 0;
}
.hosting-services-sec .elementor-element .plan-btn {
  background-image: linear-gradient(45deg, #7d06b1, #2f57e4);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 500 !important;
  font-size: 18px;
  text-decoration: none !important;
  position: absolute;
  bottom: 50px;
}
.hosting-services-sec .elementor-element .plan-btn::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}

.blog-area {
  padding: 50px 0;
  background: #f7f7f7;
}
.blog-area .blog-img {
  text-align: center;
}
.blog-area .blog-content p {
  text-align: left;
  margin-bottom: 70px;
  color: #000;
  padding: 5px 0;
}
.blog-area .blog-person {
  text-align: center;
}
.blog-area .social-icon {
  padding: 10px;
  text-align: center;
}
.blog-area .social-icon img {
  padding: 10px;
  box-shadow: 4px 1px 3px 0px rgba(119, 119, 119, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 60px;
}

.inner-blog-content p {
  margin-bottom: 5px !important;
}
.inner-blog-content p .social-icon {
  text-align: left !important;
}

.inner-blog-content .social-icon {
  text-align: left !important;
}

.inner-blog-content h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.blog-aritical-sec {
  padding: 50px 0;
}

.blog-img img {
  width: 100%;
  border-radius: 5px;
}

.blog-content-inner {
  display: flex;
  padding-top: 20px;
}
.blog-content-inner .blog-author-img img {
  border-radius: 50%;
  width: auto !important;
  max-width: initial;
}
.blog-content-inner .blog-details {
  padding-left: 20px;
}
.blog-content-inner .blog-details p {
  color: #000;
}
.blog-content-inner .blog-details .date {
  color: #000;
}

.testimonial-area {
  padding: 60px 0;
}
.testimonial-area .testimonial-slider {
  padding-top: 20px;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item {
  display: flex;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .testimonial-item-img {
  display: inline-block;
  width: 250px;
  vertical-align: middle;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .testimonail-content {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .testimonail-content p {
  color: #000;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .testimonal-info {
  margin-top: 30px;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .testimonal-info h3 {
  font-size: 20px;
  color: #000;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .start-icon {
  padding-left: 0;
}
.testimonial-area .testimonial-slider .testimonial-item-slider .testimonial-item .start-icon li {
  display: inline-block;
  list-style: none;
}

/*=================================
Faq Area 
====================================*/
.faq-area {
  background-color: #f7f7f7;
  padding: 60px 0;
}

.faq-accordion {
  max-width: 470px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: 30px;
}
.faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.faq-accordion .accordion .accordion-item {
  border-radius: 5px;
  display: block;
  background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
  margin-bottom: 15px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  border: none;
}
.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.faq-accordion .accordion .accordion-title {
  padding: 20px 60px 17px 25px;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.faq-accordion .accordion .accordion-title.active {
  border-radius: 50px;
}
.faq-accordion .accordion .accordion-title i {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-color: #1000cd;
  box-shadow: -1px 0px 11px 5px #5065ff;
}
.faq-accordion .accordion .accordion-title.active i {
  transform: rotate(180deg);
  top: 15px;
}
.faq-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  margin-top: -5px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.faq-accordion .accordion .accordion-content p {
  line-height: 1.8;
  color: #fff;
  font-size: 15px;
}
.faq-accordion .accordion .accordion-content.show {
  display: block;
}

.faq-accordion-width {
  max-width: 100% !important;
  margin-bottom: 30px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.faq-img-2 {
  margin-bottom: 30px;
}

.faq-content-text p {
  margin-bottom: 50px;
}
.faq-content-text p a {
  color: #ff4a35;
  text-decoration: underline;
}
.faq-content-text p a:hover {
  color: #070f4d;
}
.faq-content-text .color-black {
  color: #070f4d !important;
}
.faq-content-text .font-size {
  font-size: 18px;
}

.bgimg-part {
  padding: 30px;
  position: relative;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #901eb7, #4d37d0) 1;
}
.bgimg-part .model-content {
  background: url(../img/bg.png);
  color: white;
}
.bgimg-part .model-content h5 {
  margin-bottom: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.bgimg-part .model-content p {
  color: #000;
}

/*=================================
Faq Area End
====================================*/
/*================================
Section Title Style 
===================================*/
.section-title span {
  color: #ff4a35;
  font-weight: 500;
  line-height: 0;
}
.section-title h2 {
  font-size: 35px;
  max-width: 510px;
  margin: auto;
}
.section-title p {
  padding-top: 25px;
  max-width: 620px;
  margin: 0 auto;
}

.main-title h2 {
  background-image: linear-gradient(360deg, #7d06b1, #2f57e4);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 600 !important;
  font-size: 38px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 30px;
}

/*================================
Section Title Style End
===================================*/
/*=================================
Footer Section 
====================================*/
.bg-footer {
  margin-top: 20px;
  background-color: #4356d6;
  position: relative;
  border-radius: 40% 0 0 0;
}
.bg-footer::before {
  content: "";
  left: 0;
  position: absolute;
  background: #ffffff;
  height: 20%;
  top: -70px;
  transform: skewY(175deg);
  width: 100%;
  z-index: 1;
}
.bg-footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/shape/footer-shape.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
}

.footer-newletter-area {
  padding: 50px 0;
}
.footer-newletter-area .subscribe-area h2 {
  color: #fff;
}
.footer-newletter-area .subscribe-area p {
  color: #fff;
}
.footer-newletter-area .newsletter-area {
  margin-top: 25px;
}
.footer-newletter-area .newsletter-area .newsletter-form {
  position: relative;
  max-width: 370px;
  border-radius: 50px;
}
.footer-newletter-area .newsletter-area .newsletter-form .form-control {
  background: #fff;
  height: 45px;
  line-height: 55px;
  margin: 0;
  border-radius: 2px;
  border: none;
  padding: 0 25px;
}
.footer-newletter-area .newsletter-area .newsletter-form .form-control:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.footer-newletter-area .newsletter-area .newsletter-form .subscribe-btn {
  position: absolute;
  top: 0px;
  right: -60%;
  margin: 0;
  background: #dc3545;
  color: #fff;
  height: 46px;
  line-height: 40px;
  padding: 0 20px;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  width: 200px;
}
.footer-newletter-area .newsletter-area .newsletter-form .subscribe-btn:hover {
  background: #070f4d;
  color: #ffffff;
}
.footer-newletter-area .newsletter-area .newsletter-form .validation-danger {
  font-size: 18px;
  margin-top: 5px;
  color: red;
}
.footer-newletter-area .feature-updates-sec {
  padding: 20px 0;
}
.footer-newletter-area .feature-updates-sec h2 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 15px;
}
.footer-newletter-area .feature-updates-sec .feature-updates {
  text-align: center;
  padding: 20px 0;
}

.footer-top {
  padding-top: 200px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
}

.copyright-text {
  text-align: right;
}
.copyright-text p {
  color: #fff;
}

.footer-area-top {
  border-top: 1px solid #fff;
  padding: 50px 0 0;
}

.footer-single {
  margin-bottom: 30px;
}
.footer-single .footer-single-content {
  text-align: center;
}
.footer-single .footer-single-content .share-icon {
  text-align: center;
}
.footer-single .footer-single-content .share-icon ul.social-icon-part {
  list-style: none;
  text-align: center;
}
.footer-single .footer-single-content .share-icon ul.social-icon-part li {
  display: inline-block;
  padding: 0 10px;
}
.footer-single .footer-single-content a img {
  margin-bottom: 40px;
}
.footer-single .footer-single-content p {
  color: #fff;
  margin: 0;
}

.footer-list {
  margin-bottom: 30px;
}
.footer-list h3 {
  font-size: 25px;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}
.footer-list p {
  color: #fff;
  height: 206px;
  overflow: hidden;
}
.footer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list ul li {
  margin-top: 10px;
  display: block;
  font-size: 16px;
  color: #fff;
}
.footer-list ul li i {
  font-size: 15px;
}
.footer-list ul li a {
  color: #fff;
  position: relative;
  transition: 0.7s;
}
.footer-list ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #070f4d;
  transition: 0.7s;
}
.footer-list ul li a:hover::before {
  width: 100%;
}
.footer-list ul li a:hover {
  color: #070f4d;
}

.footer-bottom {
  position: relative;
  border-top: 1px solid #fff;
  padding-top: 24px;
  padding-bottom: 22px;
  z-index: 1;
}
.footer-bottom .location-map img {
  width: 100%;
}

.footer-area-bg {
  background: url(../img/footer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*=================================
Footer Section End
====================================*/
/*-------------------inner-about-page--------------*/
.heading-sec {
  padding: 30px 0 0;
}

.inner-banner-sec {
  background: url(../img/about/bannerif.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

.about-sec-inner {
  padding: 60px 0;
}
.about-sec-inner .main-title h2 {
  text-align: left;
  margin-left: 0;
  font-size: 26px;
}
.about-sec-inner .about-content p {
  color: #000;
}
.about-sec-inner .our-mission-block {
  padding-top: 40px;
}
.about-sec-inner .our-mission-block:hover {
  padding: 33px 30px 41px 38px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.1);
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-image: -webkit-linear-gradient(left, #cfc4ff, #d18fff);
}
.about-sec-inner .our-mission-block span.icon-box {
  padding: 20px;
}
.about-sec-inner .our-mission-block span.icon-box img {
  width: auto;
}
.about-sec-inner .our-mission-block p {
  color: #000;
}
.about-sec-inner .left-social-media {
  align-items: center;
  top: 25%;
}
.about-sec-inner .left-social-media .seo-btn {
  border-radius: 5px !important;
  margin-bottom: 10px;
  width: 145px;
}
.about-sec-inner .share-sec {
  background-color: #4356d6;
  background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
  box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
  border-radius: 60px 0 0 60px;
  margin-top: 100px;
  position: relative;
  padding: 10px 20px;
  margin-right: -23px;
}
.about-sec-inner .share-sec .whatsapp-icon img {
  padding: 10px;
  width: 90%;
}

/*=================================
Counter Area 
====================================*/
.counter-area {
  position: relative;
  margin-bottom: 60px;
  margin-top: 20px;
  z-index: 9999;
}

.border-style {
  border: 2px solid #fff;
  padding: 30px;
}

.counter-area::before {
  content: "";
  position: absolute;
  background-image: url(../img/about/counter-shape-1.png);
  top: 0;
  left: 0;
  right: 0;
  background-position: center center;
  width: 100%;
  height: 250px;
}

.single-counter {
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-counter i {
  font-size: 55px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  line-height: 70px;
  margin-bottom: 35px;
}

.single-counter h3 {
  font-size: 25px;
  color: #fff;
  line-height: 0;
  margin-bottom: 15px;
}

.single-counter p {
  font-size: 22px;
  color: #fff;
  margin: 0;
}

/*=================================
Counter Area End
====================================*/
/*=================================
Inner Service Page  Start
====================================*/
.share-sec-position {
  position: fixed;
  right: 0;
  background-color: #4356d6;
  background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
  box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
  border-radius: 60px 0 0 60px;
  margin-top: 300px;
  position: fixed !important;
  width: 250px;
  right: 0;
  padding: 10px 20px;
  margin-right: -23px;
  z-index: 999;
}
.share-sec-position a img {
  padding: 0 10px;
}

a.map-icon {
  margin-right: 20px;
}

a.map-icon, a.what-icon {
  background: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 75px;
  text-align: center;
}
a.map-icon i, a.what-icon i {
  font-size: 30px;
  color: #015dc7;
}

.inner-service-banner {
  /*background: url(../img/service/service-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;*/
}
.inner-service-banner .left-banner-content {
  padding-top: 25%;
}
.inner-service-banner .left-banner-content p {
  color: #000;
  padding-top: 20px;
}

.share-sec-position {
  position: fixed;
  right: 0;
  background-color: #4356d6;
  background-image: linear-gradient(90deg, rgb(121, 10, 180) 30%, rgb(64, 69, 217) 100%);
  box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
  border-radius: 60px 0 0 60px;
  margin-top: 300px;
  position: fixed !important;
  width: 250px;
  right: 0;
  padding: 10px 20px;
  margin-right: -23px;
  z-index: 999;
}
.share-sec-position a img {
  padding: 0 10px;
}

.secondary-title {
  background-image: linear-gradient(360deg, #7d06b1, #2f57e4);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 600 !important;
  font-size: 32px !important;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.secondary-title a {
  font-size: 32px !important;
}

.our-services-area {
  padding: 50px 0 70px;
}
.our-services-area .our-service-block-img {
  text-align: center;
}

.three-plan-sec {
  margin-bottom: 60px;
  margin-top: 20px;
}
.three-plan-sec .inner-block {
  text-align: center;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.three-plan-sec .inner-block .icon-block {
  padding: 20px;
}
.three-plan-sec .inner-block .content-block h4 {
  color: #fff;
  padding: 10px 0;
}
.three-plan-sec .inner-block .content-block p {
  color: #fff;
}

/*=================================
Inner Service Page  End
====================================*/
/*=================================
  Inner Service Details Page  Start
  ====================================*/
.service-detail-banner {
  background: url(../img/service-detail-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}
.service-detail-banner .right-banner-content {
  padding-top: 25%;
}
.service-detail-banner .right-banner-content p {
  color: #000;
  padding-top: 20px;
}

.service-details-page .bg-box {
  background-image: linear-gradient(to right, #8101ae, #7622bb, #6733c8, #5441d4, #384ddf);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 30px;
  color: #fff;
}
.service-details-page .bg-box h4 {
  color: #fff;
  padding: 10px 0;
}
.service-details-page .bg-box p {
  color: #fff;
}
.service-details-page .bg-box h6 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  padding: 10px 0;
}
.service-details-page .bg-box .btn-block {
  text-align: center;
}
.service-details-page .bg-box .btn-block .enquiry-btn {
  border-radius: 10px;
}

.bottom-slider-sec {
  padding: 50px 0;
}
.bottom-slider-sec .main-title h2 {
  text-align: left !important;
  margin-left: 0;
}
.bottom-slider-sec .service-details .testimonail-content h4 {
  padding: 15px 20px;
  font-size: 18px;
}
.bottom-slider-sec .service-details .testimonail-content p {
  color: #000;
  font-size: 14px;
  padding: 0 20px;
}
.bottom-slider-sec .service-details .testimonail-content .btn-block {
  padding: 10px 20px;
}

/*=================================
  Inner Hosting Page  Start
  ====================================*/
.inner-hosting-banner {
  background: url(../img/hosting-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}
.inner-hosting-banner .right-banner-content {
  padding-top: 25%;
}
.inner-hosting-banner .right-banner-content p {
  color: #000;
  padding-top: 20px;
}

.inner-hosting-sec .bg-inner-box {
  padding: 50px 20px;
  background: #af68d6;
  border-radius: 10px;
  color: #fff;
  box-shadow: 6px 6px 15px rgba(119, 119, 119, 0.4);
}
.inner-hosting-sec .bg-inner-box h3 {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
  font-size: 22px;
}
.inner-hosting-sec .bg-inner-box .content-details {
  border-bottom: 2px solid #fff;
  padding: 15px 0;
}
.inner-hosting-sec .bg-inner-box .content-details h4 {
  color: #fff;
  padding: 10px 0;
  font-size: 24px;
}
.inner-hosting-sec .bg-inner-box .content-details p {
  color: #fff;
}
.inner-hosting-sec .bg-inner-box .bottom-btn-sec {
  text-align: center;
}
.inner-hosting-sec .bg-inner-box .bottom-btn-sec p {
  color: #fff;
  padding: 25px 0;
  text-align: left;
}

.hosting-service-sec {
  padding-top: 20px;
}
.hosting-service-sec .main-title h2 {
  font-size: 20px;
  text-align: left;
  margin-left: 0;
}
.hosting-service-sec .our-mission-block {
  padding: 33px 30px 41px 38px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 13px 13px 51px 0px rgba(10, 51, 80, 0.1);
}
.hosting-service-sec .our-mission-block:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-image: -webkit-linear-gradient(left, #cfc4ff, #d18fff);
}

.our-need-block {
  margin-bottom: 50px;
}

.hosting-sec {
  text-align: center;
  padding: 40px 0;
}
.hosting-sec .icon-sec {
  padding-bottom: 20px;
}
.hosting-sec .icon-sec img {
  padding-bottom: 30px;
}

.pocket-friendly {
  background: url(../img/icon/slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.content-sec h3 {
  color: #fff;
  font-size: 28px;
  padding-bottom: 20px;
}
.content-sec p {
  color: #fff;
}

.our-package-block {
  padding: 50px 0;
}
.our-package-block .host-img {
  padding-top: 20px;
}
.our-package-block .host-img img {
  padding: 20px;
}

/*==================================
Inner Blog Page 
===================================*/
.inner-blog-sec {
  padding: 70px 0 0;
}
.inner-blog-sec .blog-sec P {
  color: #000;
}
.inner-blog-sec .icon-sec img {
  padding: 10px;
  margin: 0 10px;
}
.inner-blog-sec .content {
  padding: 20px 10px;
}
.inner-blog-sec .content p {
  color: #000;
  border-bottom: 2px solid #790ab4;
  padding-bottom: 30px;
}
.inner-blog-sec .artical-content p {
  color: #000;
}
.inner-blog-sec .artical-content h2 {
  margin-bottom: 30px;
}

/*==================================
Contact Page 
===================================*/
.contact-banner-sec {
  background: url(../img/banner-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 135vh;
  padding: 40px 50px;
}
.contact-banner-sec .get-touch-form {
  padding: 30px 10px;
}
.contact-banner-sec .form-field-section .input-group .form-control {
  height: 60px;
  color: #333 !important;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  box-shadow: 0px 3px 5px rgba(195, 195, 195, 0.3);
  /* border-top: none !important; */
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #73bdf7, #b132f3) border-box;
  border-radius: 8px;
  border: 1px solid transparent;
}
.contact-banner-sec .address-sec {
  padding: 0 40px;
}
.contact-banner-sec .address-sec h4 a {
  color: #000;
}
.contact-banner-sec .address-sec h4 img {
  padding: 20px;
}

/*==================================
sidebar
===================================*/
.sidebar-menu {
  padding: 40px 0;
  list-style-type: none;
  border-radius: 0 20px 20px 0;
  background-image: linear-gradient(to right, #8101ae, #7622bb, #6733c8, #5441d4, #384ddf);
  padding-right: 40px;
}
.sidebar-menu li {
  list-style: none;
}
.sidebar-menu li a {
  width: 100%;
  padding: 34px 15px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: #000;
  transition: color 0.2s ease-in-out;
}
.sidebar-menu .sidebar-menu-dropdown {
  background: #fff;
  border-radius: 0 10px 10px 0;
  padding-left: 40px;
  font-size: 26px;
  position: relative;
}
.sidebar-menu .sidebar-menu-dropdown .dropdown-icon {
  position: absolute;
  right: 0;
  font-size: 35px;
  top: 8px;
  padding-right: 15px;
  color: #384dde;
}
.sidebar-menu .sidebar-menu-dropdown-content li a {
  color: #fff;
}
.sidebar-menu .small_gradient_Text {
  font-weight: 600;
  font-size: 24px;
}

/*==================================
Back To Top Button 
=====================================*/
#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 99;
}

.top-btn {
  background-color: #4356d6;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 15px #4356d6;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  transition: 0.9s;
  -webkit-transition: 0.9s;
}
.top-btn:hover {
  background: #ff4a35;
  box-shadow: 0 0 15px #ff4a35;
  color: #fff;
  animation: none;
}

/*==============================
Back To Top Button 
=================================*/
/*=================================
 Preloader
===================================*/
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: block;
  background: #4356d6;
}

.preloader-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -30px 0 0 -30px;
}
.preloader-wave::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: wave-circle 1.6s linear infinite;
  animation: wave-circle 1.6s linear infinite;
}
.preloader-wave::after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  background-color: transparent;
  opacity: 1;
  border: 2px solid #fff;
  -webkit-animation: scale 1.9s linear infinite;
  animation: scale 1.9s linear infinite;
}

.preloader-wave:after {
  animation-delay: -0.3s;
  -webkit-animation-delay: -0.3s;
}

/*==================================
 Preloader End
====================================*/
/*==================================
Animation CSS
====================================*/
@-webkit-keyframes rotaed360 {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@keyframes rotaed360 {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-1px, 173px) rotate(36deg);
    transform: translate(-1px, 173px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(172px, 0px) rotate(72deg);
    transform: translate(72px, 0px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(183px, 0) rotate(108deg);
    transform: translate(183px, 0) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(172px, 0px) rotate(144deg);
    transform: translate(172px, 0px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-1px, 173px) rotate(36deg);
    transform: translate(-1px, 173px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(172px, 0px) rotate(72deg);
    transform: translate(72px, 0px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(183px, 0) rotate(108deg);
    transform: translate(183px, 0) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(172px, 0px) rotate(144deg);
    transform: translate(172px, 0px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@-webkit-keyframes moveBounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes moveBounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes wave-circle {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes wave-circle {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes scale {
  0%, 35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
/*==================================
Animation CSS End
====================================*/